[submodule "dotfiles/linux/vim/.janus-available/vim-airline"]
	path = dotfiles/linux/vim/.janus-available/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotfiles/linux/vim/.janus-available/vim-airline-themes"]
	path = dotfiles/linux/vim/.janus-available/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "dotfiles/linux/vim/.janus-available/emmet-vim"]
	path = dotfiles/linux/vim/.janus-available/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "dotfiles/linux/vim/.janus-available/base16-vim"]
	path = dotfiles/linux/vim/.janus-available/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "dotfiles/linux/vim/.janus-available/material.vim"]
	path = dotfiles/linux/vim/.janus-available/material.vim
	url = https://github.com/kaicataldo/material.vim.git
[submodule "dotfiles/linux/vim/.janus-available/vim-terraform"]
	path = dotfiles/linux/vim/.janus-available/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "dotfiles/linux/vim/.janus-available/tmuxline.vim"]
	path = dotfiles/linux/vim/.janus-available/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "dotfiles/linux/vim/.janus-available/vdebug"]
	path = dotfiles/linux/vim/.janus-available/vdebug
	url = https://github.com/vim-vdebug/vdebug.git
[submodule "dotfiles/linux/vim/.janus-available/vim-snippets"]
	path = dotfiles/linux/vim/.janus-available/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotfiles/linux/vim/.janus-available/vim-gdscript3"]
	path = dotfiles/linux/vim/.janus-available/vim-gdscript3
	url = https://github.com/calviken/vim-gdscript3.git
[submodule "dotfiles/linux/vim/.janus-available/vim-dadbod"]
	path = dotfiles/linux/vim/.janus-available/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "dotfiles/linux/vim/.janus-available/tabular"]
	path = dotfiles/linux/vim/.janus-available/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotfiles/linux/vim/.vim"]
	path = dotfiles/linux/vim/.vim
	url = https://github.com/carlhuda/janus.git
[submodule "dotfiles/linux/zsh/.zsh/zplug"]
	path = dotfiles/linux/zsh/.zsh/zplug
	url = https://github.com/zplug/zplug.git
[submodule "dotfiles/linux/zsh/.zsh/base16-shell"]
	path = dotfiles/linux/zsh/.zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
